body {
    font-size: 13px;
}

.card {
    border-radius: 10px;
}

button {
    border-radius: 6px !important;
}

#polls-container div {
    background: #f8f9fa;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
}

#polls-container button {
    margin: 2px;
}